// variables
@import "../base/variables";

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 25px;

  color: #0d0d0d;
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  border-radius: 8px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 15px;

    .error {
      margin: 10px 0;
      color: rgb(255, 0, 0);

      &.question,
      &.phone,
      &.name {
        display: none;
      }
    }

    &__input,
    &__textarea {
      width: 100%;
      padding: 10px 15px;
      margin-bottom: 10px;

      color: $main-color;
      font-size: 1.1rem;

      border: 2px solid $main-color;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba($color: #000000, $alpha: .3);

      &::placeholder {
        font-size: 1rem;
      }

      &:focus {
        transform: scale(1.05);
        outline: none;
      }
    }

    &__textarea {
      resize: none;
      height: 100px;
    }


    &__button {
      border: 2px solid $main-color;
      background-color: none;
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 1.4rem;
      box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0);

      margin-top: 15px;

      transition: .2s ease;

      &:hover {
        cursor: pointer;
        transition: .2s ease;
        transform: scale(1.1);
        background-color: $main-color;
        color: $white;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: .3);
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.modal_mini {
  display: none;
  min-height: 140px;
}

.modal .modal__descr {
  font-size: 15px;
  margin-bottom: 0;
}

.modal__close {
  position: absolute;
  top: 0;
  right: -30px;
  font-size: 2.1rem;
  line-height: 1.5rem;
  color: rgb(255, 0, 0);
  cursor: pointer;

  transition: 0.2s linear;
}

.modal__close:hover {
  transition: 0.2s linear;
  transform: scale(1.2);
}

.modal__subtitle {
  font-size: 1.26rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.modal__descr {
  font-size: 0.93rem;
  margin-bottom: 25px;
}

#thanks,
#form,
#cart,
#modal-adress-forms {
  display: none;
}

.modal-cart {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  border-radius: 8px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #0d0d0d;


    padding: 35px 25px;

    &__title {
      font-size: 2rem;
      margin-bottom: 40px;
    }

    &__products {
      display: flex;
      flex-direction: column;
      max-height: 460px;
      overflow-y: auto;


      &__product {
        display: flex;
        align-items: center;
        justify-content: space-around;


        margin: 25px 0;

        &__img-and-title {
          display: flex;
          align-items: center;
          width: 60%;

          &__img {
            max-width: 150px;

            box-shadow: 0 0 10px rgba($color: #000000, $alpha: .2);
            border-radius: 12px;
            border: 3px solid transparent;
            background-image: linear-gradient(white, white),
              radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background-origin: border-box;
            background-clip: content-box,
              border-box;
          }

          &__title {
            width: 75%;
            font-size: 1.5rem;
            margin-left: 25px;
          }
        }

        &__counts-and-price {
          display: flex;
          flex-direction: column;
          align-items: center;

          &__delete {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;

            border: 2px solid #ff0000b3;
            border-radius: 8px;

            padding: 5px;

            &:hover {
              cursor: pointer
            }

            &:focus {
              outline: none;
            }

            p {
              color: rgb(197, 0, 0);
              font-weight: 700;
              margin: 0;
              font-size: 1rem;
            }

            img {
              width: 100%;
              max-width: 30px;
            }
          }

          &__counts {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;

            &__input {
              text-align: center;
              width: 20%;
              font-size: 1.5rem;
              padding: 0;
              margin: 0 5px;

              // box-shadow: 0 0 10px rgba($color: #000000, $alpha: .2);
              // border-radius: 8px;
              // border: 1px solid transparent;
              // background-image: linear-gradient(white, white),
              // radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
              // background-origin: border-box;
              // background-clip: content-box,
              // border-box;

              &:focus {
                outline: none;
              }
            }

            &__button {
              background: none;
              border: none;

              img {
                width: 100%;
                max-width: 25px;
              }

              &:hover {
                cursor: pointer;
              }

              &:focus {
                outline: none;
              }
            }
          }

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0;
            /* <-- Apparently some margin are still there even though it's hidden */
          }

          input[type=number] {
            -moz-appearance: textfield;
            /* Firefox */
          }

          &__price {
            font-size: 1.6rem;
          }
        }
      }
    }

    &__total-price {
      margin-top: 25px;
      font-size: 1.6rem;
    }

    &__cart-empty {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__img {
        width: 100%;
        max-width: 150px;

        margin-bottom: 15px;
      }

      &__text {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }

    &__to-order-form {
      display: flex;
      margin-top: 25px;

      border: 2px solid $main-color;
      background-color: none;
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 1.4rem;
      box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0);

      margin-top: 15px;

      transition: .2s ease;

      &:hover {
        cursor: pointer;
        transition: .2s ease;
        transform: scale(1.1);
        background-color: $main-color;
        color: $white;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: .3);
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.modal-adress-forms {
  display: flex;
  flex-direction: column;
  padding: 15px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin-bottom: 25px;
    }

    .error {
      margin-bottom: 15px;
      color: rgb(255, 0, 0);

      &.question,
      &.phone,
      &.name {
        display: none;
      }
    }
  }
}

@media (max-width: $mobile) {
  .modal-cart {
    &__items {
      &__title {
        font-size: 1.6rem;
      }
    }
  }
}



@media (max-width: $mobile-sm) {
  .modal {
    width: 290px;
    min-height: auto;
  }

  .modal__subtitle {
    font-size: 1.06rem;
  }

  .modal__descr {
    font-size: 0.86rem;
  }

  .modal__close {
    top: -30px;
    right: 0;
  }

  .modal {
    padding: 15px;

    &__subtitle {
      font-size: 1rem;
      margin-bottom: 10px;
    }

    &__form {
      margin-top: 0;

      &__input {
        margin-bottom: 10px;
      }
    }
  }



  .modal-cart {
    width: 90%;
    height: auto;

    &__items {
      padding: 10px;

      &__title {
        font-size: 1.6rem;
        margin-bottom: 0;
      }

      &__products {
        max-height: 300px;

        &__product {
          flex-direction: column;

          &__img-and-title {
            width: 100%;

            &__img {
              max-width: 75px;
            }

            &__title {
              width: 100%;
              margin-left: 10px;
              font-size: .9rem;
            }
          }

          &__counts-and-price {
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 20px;

            &__delete {
              margin-bottom: 0;

              img {
                max-width: 22px;
              }
            }

            &__counts {
              margin-bottom: 0;
            }

            &__price {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
