
// variables
@import "base/variables";

.title {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: $main-color;
    text-transform: uppercase;

    margin-bottom: 35px;

    &::after{
        content: "";
        display: block;
        width: 10%;
        background-color: $main-color;
        height: 4px;

        margin-top: 2px;
    }
}

@media (max-width: $mobile-sm) {
    .title {
        &::after{
            width: 30%;
        }
    }
}